# Except this file !.gitignore
.classpath
.project
.settings
target
.idea
.vscode
.DS_Store
.factorypath
/logs
*.iml
node_modules
test/derby.log
derby.log
work
test/logs
derby.log
yarn.lock

/distribution/node1-8847/*
/distribution/node2-8848/*
/distribution/node3-8849/*
